* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	font-family: Arial, sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;	
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.relative {
	position: relative;
}

header {
	background-color: #000000;
	color: #ffffff;
	padding: 25px 0;
	.header_logo {
		width: 174px;
		height: 46px;
		background-image: url("../images/logo.png");
	}
	.header_contact {
		position: absolute;
		top: -245px;
		left: 210px;
		.header_contact_cloud {
			width: 350px;
			height: 300px;
			background-color: #ffffff;
			border-radius: 50%;
			img {
				display: block;
				position: absolute;
				width: 50px;
				bottom: 30px;
				left: 70px;
			}
			div {
				position: absolute;
				bottom: 40px;
				left: 150px;
				a{
					font-size: 12px;
					font-weight: bold;
					color: #000000;
					text-decoration: none;
				}
				span {
					color: #000000;
					font-size: 20px;
					font-weight: bold;
					text-align: center;
				}
			}
		}
		.header_contact_cloud_a {
			position: absolute;
			width: 35px;
			height: 35px;
			background-color: #ffffff;
			border-radius: 50%;
			right: -15px;
			bottom: 35px;
		}
		.header_contact_cloud_b {
			position: absolute;
			width: 25px;
			height: 25px;
			background-color: #ffffff;
			border-radius: 50%;
			right: -60px;
			bottom: 45px;
		}
		.header_contact_cloud_c {
			position: absolute;
			width: 15px;
			height: 15px;
			background-color: #ffffff;
			border-radius: 50%;
			right: -95px;
			bottom: 55px;
		}
	}
	nav {
		position: absolute;
		right: 0;
		top: 30px;
		ul {
			list-style-type: none;
			li {
			&:hover {
				color: #23a1ba;
			}
			display: inline-block;
			padding-left: 20px;
			font-size: 15px;
			font-weight: bold;
			}
		}
	}
}

#about {
	background-color: #23a1ba;
	h1 {
		color: #ffffff;
		font-size: 35px;
		padding-top: 40px;
	}
	p {
		color: #ffffff;
		width: 55%;
		font-size: 18px;
		line-height: 150%;
		padding-bottom: 40px;
	}
}

#history {
	.history_left {
		width: 75%;
		float: left;
		h2 {
			font-size: 35px;
			padding: 15px 0;
		}		
		img {
			float: left;
			width: 40%;
		}
		p {
			color: grey;
			line-height: 144%;
			padding-left: 310px;
		}
		.caption {
			padding-top:15px;
			color: grey;
			line-height: 150%;
		}
	}

	.history_right {
		width: 25%;
		float: left;
		h2 {
			padding: 20px 0;
			color: #23a1ba;
		}
	}
}

#work {
	background-color: #000000;
	padding-bottom: 20px;
	h2 {
		color: #ffffff;
		font-size: 35px;
		padding: 15px 0;
	}
	.work_column {
		width: 25%;
		float: left;
		padding: 10px 10px;
		p {
			color: #ffffff;
			line-height: 140%;
			font-size: 14px;
			padding-bottom: 20px;
		}
		span {
			color: #ffffff;
			line-height: 140%;
			font-size: 18px;
		}
		img {
			width: 100%;
			padding: 10px 0;
		}
	}
}

#products {
	img {
		width: 100%;
		padding-bottom:20px;
	}
	h2 {
		font-size: 35px;
		padding: 15px 0;
	}
	p {
		width: 75%;
		color: grey;
		line-height: 150%;
		padding: 5px 0 25px 0;
	}
	.sphere {
		position: absolute;
		width: 87px;
		height: 87px;
		background-image: url('../images/sphere.jpg');
		right: 0;
		bottom: 27px;
	}
}

#muffin {
	background-color: #000000;
	.muffin_left {
		width: 50%;
		float: left;
		img {
			width: 100%;
		}
	}
	.muffin_right {
		width: 50%;
		float: left;
		h2 {
			color: #ffffff;
			text-align: right;
			font-size: 35px;
			padding: 25px 0;
		}
		p {
			color: #ffffff;
			text-align: left;
			line-height: 150%;
			padding: 15px 0 15px 75px;
		}
	}
}

footer {
	.footer_left {
		width: 50%;
		float: left;
		font-size: 26px;
		line-height: 150%;
		padding: 50px 0 50px 20px;
		p {
			color: lightgrey;
			span {
				color: grey;
			}
			a {
				text-decoration: none;
				color: lightgrey;
			}
		}
	}
	.footer_right {
		width: 50%;
		float: left;
		font-size: 26px;
		line-height: 150%;
		padding: 50px 0 50px 20px;
		p {
			color: lightgrey;
			span {
				color: grey;
			}
			a {
				text-decoration: none;
				color: lightgrey;
			}
		}
	}
	.footer_bottom {
		width: 100%;
		border-top: 1px solid lightgrey;
		padding: 25px 0;
		font-size: 14px;
		text-align: center;
		color: lightgrey;
		a {
			text-decoration: none;
			color: lightgrey;
		}
	}
}



